html, body {
    height: 1000%;
    padding: 0;
    margin:0;
}

.itemsList {
    width: 100%;
    height: 10000%;
    background-color: #756c6e;
    padding: 20px;
}

p {
    font-size: medium;
}

.title {
	font-size: 25px;
	text-decoration: underline;
}

.price {
	font-size: 20px;
}

li {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black
}